
.banner{
    width: 100%;
    height: 347px;    
    /* background-image: url(/public/img/BannerFlorest.webp); */
    background-repeat: no-repeat;    
    background-size: cover;   
    background-position: center;
    padding-left: 8px;     
      
}